<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/CSS/reset.css">
    <link rel="stylesheet" href="../static/CSS/index.css">
    <title>路网事故黑点分析</title>
</head>

<body>
    <div id="app">
        <header id="banner">
            <h1 id="main-title">路网黑点</h1>
            <p>基于时空序列以及聚类算法的精确路网事故高发地点判断</p>
        </header>
        <div class="main">
            <!-- 上传文件 -->
            <div id="main-form">
                <input type="file" name="roadFile" id="roadFile" accept=".csv">
                <input type="file" name="timeFile" id="timeFile" accept=".csv">
                <label for="roadFile">选择道路信息文件</label>
                <span id="road-file-name">尚未上传文件</span>
                <label for="timeFile">选择事故时间文件</label>
                <span id="time-file-name">尚未上传文件</span>
                <div id="submit-btn">开始分析</div>
                <div id="export-btn">导出结果</div>
            </div>
            <!-- 地图 -->
            <div id="main-map">

            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=r3C2SHe86KZa7xX10GSIQE5FYQB4fGIw"></script>
    <script src="../static/JS/jquery.js"></script>
    <script src="../static/JS/main.js"></script>
</body>

</html>